aside{
    background-color: var(--gray-100);
}

#service{
    padding-top: 88px;
}

#contact{
    justify-content: center;

}

.card-2{
    border: solid 2px var(--gray-200);
    border-radius: 12px;
    margin-inline: 24px;
    padding: 20px;
}
