.grid{
    display: grid;
}



.flex{
    display: flex;
}

.title-lg{
    font: var(--title-lg);
    color: var(--gray-600);
}

.text-sm{
    font: var(--text-sm);
}

.subtitle{
    font: var(--subtitle);
    color: var(--gray-500);
}

.icon-github {
    color: var(--gray-500);
  }
  
  .icon-html {
    color: #e44d26;
  }
  
  .icon-css {
    color: #379ad6;
  }
  
  .icon-js {
    color: #f7df1e;
  }
  
  .icon-react {
    color: #61dafb;
  }
  
  .icon-node {
    color: #8cc84b;
  }
  